.modal-container {
    position: absolute;
    display: flex;
    min-width: 300px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 2;
    padding: 5px;

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        img {
            width: 16px;
        }
    }
}