  @import 'base.css';

  @font-face {
    font-family: "NunitoSans-Bold";
    src: url("../public/static/fonts/NunitoSans-Bold.ttf")
  }

  @font-face {
    font-family: "NunitoSans-SemiBold";
    src: url("../public/static/fonts/NunitoSans-SemiBold.ttf")
  }


  @font-face {
    font-family: "NunitoSans-ExtraBold";
    src: url("../public/static/fonts/NunitoSans-ExtraBold.ttf")
  }


  @font-face {
    font-family: "NunitoSans-Regular";
    src: url("../public/static/fonts/NunitoSans-Regular.ttf")
  }