.appShellSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appSkelatonPageContainer {
    flex: 1;
    display: flex;
    overflow: auto;
}

.pageShellContainer {
    position: relative;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1;
}